In [2]:
%load_ext autoreload
%autoreload 2
import sys
from pathlib import Path
sys.path.insert(1, str(Path.cwd().parent))
str(Path.cwd().parent)

'/home/ubuntu/varios/skforecast'

In [3]:
from skforecast.ForecasterBaseline import ForecasterLastEquivalentDate
import numpy as np
import pandas as pd
from skforecast import __version__
print(__version__)

0.10.1

In [4]:
# simulate a time series
n = 100
time = pd.date_range(start='2000-01-01', periods=n, freq='MS')
y = np.arange(n)
df = pd.DataFrame({'time': time, 'y': y})
df = df.set_index('time')
df

             y
time
2000-01-01   0
2000-02-01   1
2000-03-01   2
2000-04-01   3
2000-05-01   4
...         ..
2007-12-01  95
2008-01-01  96
2008-02-01  97
2008-03-01  98
2008-04-01  99

[100 rows x 1 columns]

In [11]:
forecaster = ForecasterLastEquivalentDate(offset=3)
forecaster

============================
ForecasterLastEquivalentDate
============================
Offset: 3
Window size: 3
Training range: None
Training index type: None
Training index frequency: None
Creation date: 2023-10-24 17:22:32
Last fit date: None
Skforecast version: 0.10.1
Python version: 3.11.4
Forecaster id: None

In [12]:
forecaster.fit(y=df['y'])
forecaster

/home/ubuntu/varios/skforecast/skforecast/utils/utils.py:787: UserWarning: `y` has DatetimeIndex index but no frequency. Index is overwritten with a RangeIndex of step 1.
  warnings.warn(

============================
ForecasterLastEquivalentDate
============================
Offset: 3
Window size: 3
Training range: [0, 99]
Training index type: RangeIndex
Training index frequency: 1
Creation date: 2023-10-24 17:22:32
Last fit date: 2023-10-24 17:22:33
Skforecast version: 0.10.1
Python version: 3.11.4
Forecaster id: None

In [13]:
forecaster.last_window

time
2008-02-01    97
2008-03-01    98
2008-04-01    99
Name: y, dtype: int64

In [ ]:
1, 2, 3, 4, 5, 6, 7, 

steps = 

las

In [9]:
import pandas as pd
from pandas.tseries import offsets
from pandas.tseries.offsets import DateOffset
ts = pd.Timestamp('2017-01-01 09:10:11')
ts + DateOffset(months=1)

Timestamp('2017-02-01 09:10:11')

In [12]:
offset = offsets.Day()
ts = pd.Timestamp('2017-01-01 09:10:11')
ts - offset

Timestamp('2016-12-31 09:10:11')