In [1]:
%load_ext autoreload
%autoreload 2
import sys
from pathlib import Path
sys.path.insert(1, str(Path.cwd().parent))
str(Path.cwd().parent)

'c:\\Users\\jaesc2\\GitHub\\skforecast'

In [2]:
import re
import pytest
import numpy as np
import pandas as pd
from skforecast.ForecasterSarimax import ForecasterSarimax
from skforecast.utils import expand_index
from pmdarima.arima import ARIMA
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [3]:
y = pd.Series(
        data = np.array([0.69646919, 0.28613933, 0.22685145, 0.55131477, 0.71946897,
                         0.42310646, 0.9807642 , 0.68482974, 0.4809319 , 0.39211752,
                         0.34317802, 0.72904971, 0.43857224, 0.0596779 , 0.39804426,
                         0.73799541, 0.18249173, 0.17545176, 0.53155137, 0.53182759,
                         0.63440096, 0.84943179, 0.72445532, 0.61102351, 0.72244338,
                         0.32295891, 0.36178866, 0.22826323, 0.29371405, 0.63097612,
                         0.09210494, 0.43370117, 0.43086276, 0.4936851 , 0.42583029,
                         0.31226122, 0.42635131, 0.89338916, 0.94416002, 0.50183668,
                         0.62395295, 0.1156184 , 0.31728548, 0.41482621, 0.86630916,
                         0.25045537, 0.48303426, 0.98555979, 0.51948512, 0.61289453]
            ),
        name = 'y'
    )

In [4]:
forecaster = ForecasterSarimax(regressor=ARIMA(order=(1,1,1), maxiter=1000, 
                                               trend=None, 
                                               method='nm', 
                                               ftol=1e-19,))
forecaster.fit(y=y)
predictions = forecaster.predict(steps=5)
predictions

50    0.535792
51    0.523670
52    0.522246
53    0.522581
54    0.523207
Name: pred, dtype: float64

In [5]:
forecaster = ForecasterSarimax(regressor=ARIMA(order=(1,1,1), maxiter=1000, 
                                               trend=None, 
                                               method='lbfgs', 
                                               ftol=1e-19,))
forecaster.fit(y=y)
predictions = forecaster.predict(steps=5)
predictions

50    0.535662
51    0.523513
52    0.522078
53    0.522407
54    0.523026
Name: pred, dtype: float64

In [6]:
forecaster = ForecasterSarimax(regressor=ARIMA(order=(1,1,1), maxiter=1000, 
                                               trend=None, 
                                               ftol=1e-19,),
                                fit_kwargs={'optim_score': 'harvey'})
forecaster.fit(y=y)
predictions = forecaster.predict(steps=5)
predictions

c:\Users\jaesc2\GitHub\skforecast\skforecast\utils\utils.py:209: UserWarning: Argument/s ['optim_score'] ignored since they are not used by the regressor's `fit` method.
  warnings.warn(

50    0.535662
51    0.523513
52    0.522078
53    0.522407
54    0.523026
Name: pred, dtype: float64

In [7]:
forecaster = ForecasterSarimax(regressor=ARIMA(order=(1,1,1), maxiter=1000, 
                                               trend=None, 
                                               ftol=1e-19,),
                                fit_kwargs={'fit_args': {'optim_score': 'approx'}})
forecaster.fit(y=y)
predictions = forecaster.predict(steps=5)
predictions

c:\Users\jaesc2\Miniconda3\envs\skforecast\lib\site-packages\statsmodels\base\optimizer.py:17: FutureWarning: Keyword arguments have been passed to the optimizer that have no effect. The list of allowed keyword arguments for method lbfgs is: m, pgtol, factr, maxfun, epsilon, approx_grad, bounds, loglike_and_score. The list of unsupported keyword arguments passed include: fit_args. After release 0.14, this will raise.
  warnings.warn(

50    0.535662
51    0.523513
52    0.522078
53    0.522407
54    0.523026
Name: pred, dtype: float64

In [8]:
import inspect

inspect.signature(forecaster.regressor.fit).parameters

mappingproxy({'y': <Parameter "y">,
              'X': <Parameter "X=None">,
              'fit_args': <Parameter "**fit_args">})

In [12]:
from statsmodels.tsa.statespace.sarimax import SARIMAX

regressor = SARIMAX(endog=y)
inspect.signature(regressor.fit).parameters

mappingproxy({'start_params': <Parameter "start_params=None">,
              'transformed': <Parameter "transformed=True">,
              'includes_fixed': <Parameter "includes_fixed=False">,
              'cov_type': <Parameter "cov_type=None">,
              'cov_kwds': <Parameter "cov_kwds=None">,
              'method': <Parameter "method='lbfgs'">,
              'maxiter': <Parameter "maxiter=50">,
              'full_output': <Parameter "full_output=1">,
              'disp': <Parameter "disp=5">,
              'callback': <Parameter "callback=None">,
              'return_params': <Parameter "return_params=False">,
              'optim_score': <Parameter "optim_score=None">,
              'optim_complex_step': <Parameter "optim_complex_step=None">,
              'optim_hessian': <Parameter "optim_hessian=None">,
              'flags': <Parameter "flags=None">,
              'low_memory': <Parameter "low_memory=False">,
              'kwargs': <Parameter "**kwargs">})

## Test statsforecast

In [45]:
# ARIMA's usage example
import pandas as pd
from statsforecast.models import ARIMA
from statsforecast.utils import AirPassengers as ap

ap = np.arange(1, 100)

arima = ARIMA(order=(5, 2, 2), season_length=12)
arima = arima.fit(y=ap)
y_hat_dict = arima.predict(h=4, level=[20, 80])
pd.DataFrame(y_hat_dict)

C:\Users\jaesc2\AppData\Roaming\Python\Python39\site-packages\statsforecast\arima.py:896: RuntimeWarning: divide by zero encountered in log
  return 0.5 * np.log(res)

    mean       lo-80       lo-20       hi-20       hi-80
0  100.0   99.999864   99.999973  100.000027  100.000136
1  101.0  100.999696  100.999940  101.000060  101.000304
2  102.0  101.999492  101.999900  102.000100  102.000508
3  103.0  102.999256  102.999853  103.000147  103.000744

In [46]:
ap[:5]

array([1, 2, 3, 4, 5])

In [47]:
ap[-5:]

array([95, 96, 97, 98, 99])

In [48]:
print(len(ap))
pd.DataFrame(arima.predict_in_sample()).head(5)

99

     fitted
0  0.999553
1  1.999106
2  3.000000
3  4.000000
4  5.000000

In [49]:
# This is fit + predict
y_hat_dict = arima.forecast(y=ap, h=4, level=[20, 80])
pd.DataFrame(y_hat_dict)

C:\Users\jaesc2\AppData\Roaming\Python\Python39\site-packages\statsforecast\arima.py:896: RuntimeWarning: divide by zero encountered in log
  return 0.5 * np.log(res)

    mean       lo-80       lo-20       hi-20       hi-80
0  100.0   99.999864   99.999973  100.000027  100.000136
1  101.0  100.999696  100.999940  101.000060  101.000304
2  102.0  101.999492  101.999900  102.000100  102.000508
3  103.0  102.999256  102.999853  103.000147  103.000744

In [50]:
# Apply fitted model to a new time series.
y_hat_dict = arima.forward(y=ap, h=4, level=[20, 80])
pd.DataFrame(y_hat_dict)

    mean       lo-80       lo-20       hi-20       hi-80
0  100.0   99.999864   99.999973  100.000027  100.000136
1  101.0  100.999696  100.999940  101.000060  101.000304
2  102.0  101.999492  101.999900  102.000100  102.000508
3  103.0  102.999256  102.999853  103.000147  103.000744

In [57]:
import numpy as np

y_hat_dict = arima.forward(y=np.arange(7), 
                           h=4, level=[20, 80])
pd.DataFrame(y_hat_dict)

   mean     lo-80     lo-20      hi-20      hi-80
0   7.0  6.999864  6.999973   7.000027   7.000136
1   8.0  7.999696  7.999940   8.000060   8.000304
2   9.0  8.999492  8.999900   9.000100   9.000508
3  10.0  9.999256  9.999853  10.000147  10.000744

## Test pmdarima

In [84]:
# ARIMA's usage example
import pandas as pd
from pmdarima.arima import ARIMA
from statsforecast.utils import AirPassengers as ap

ap = np.arange(100)

arima = ARIMA(order=(5, 2, 2), season_length=12)
arima_res = arima.fit(ap)
y_hat_dict = arima_res.predict(steps=4)
pd.DataFrame(y_hat_dict).head(5)

c:\Users\jaesc2\Miniconda3\envs\skforecast\lib\site-packages\statsmodels\base\model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

            0
0   99.999996
1  100.999989
2  101.999977
3  102.999962
4  103.999943

In [100]:
ap = np.arange(1000)

arima = ARIMA(order=(5, 2, 2), seasonal_order=(1,1,1,12))
arima_res = arima.fit(ap)
y_hat_dict = arima_res.predict(steps=4)
pd.DataFrame(y_hat_dict).head(5)

             0
0   999.999994
1  1000.999981
2  1001.999961
3  1002.999935
4  1003.999903

## test statsmodels

In [71]:
# ARIMA's usage example
import pandas as pd
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsforecast.utils import AirPassengers as ap

ap = np.arange(100)

arima = SARIMAX(endog=ap, order=(5, 2, 2), season_length=12)
arima_res = arima.fit()
y_hat_dict = arima_res.forecast(steps=4)
pd.DataFrame(y_hat_dict)

c:\Users\jaesc2\Miniconda3\envs\skforecast\lib\site-packages\statsmodels\base\model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

       0
0  100.0
1  101.0
2  102.0
3  103.0

In [78]:
index = pd.period_range(start='2000', periods=2, freq='A')
original_observations = pd.Series([1.2, 1.5], index=index)
mod = SARIMAX(original_observations, order=(12,0,0))
res = mod.fit()
print(res.params)
print(res.forecast(1))

c:\Users\jaesc2\Miniconda3\envs\skforecast\lib\site-packages\statsmodels\tsa\statespace\sarimax.py:866: UserWarning: Too few observations to estimate starting parameters for ARMA and trend. All parameters except for variances will be set to zeros.
  warn('Too few observations to estimate starting parameters%s.'

ar.L1     0.975540
ar.L2     0.000002
ar.L3     0.000002
ar.L4     0.000002
ar.L5     0.000002
ar.L6     0.000002
ar.L7     0.000002
ar.L8     0.000002
ar.L9     0.000002
ar.L10    0.000002
ar.L11    0.000002
ar.L12    0.000073
sigma2    0.088896
dtype: float64
2002    1.463398
Freq: A-DEC, dtype: float64

In [79]:
new_index = pd.period_range(start='1980', periods=3, freq='A')
new_observations = pd.Series([1.4, 0.3, 1.2], index=new_index)
new_res = res.apply(new_observations, refit=False)
print(new_res.params)
print(res.forecast(1))

ar.L1     0.975540
ar.L2     0.000002
ar.L3     0.000002
ar.L4     0.000002
ar.L5     0.000002
ar.L6     0.000002
ar.L7     0.000002
ar.L8     0.000002
ar.L9     0.000002
ar.L10    0.000002
ar.L11    0.000002
ar.L12    0.000073
sigma2    0.088896
dtype: float64
2002    1.463398
Freq: A-DEC, dtype: float64